{
    "tabWidth": 4,
    "useTabs": true,
    "plugins": ["prettier-plugin-tailwindcss"],
    "trailingComma": "all",
    "semi": true,
    "singleQuote": false,
    "printWidth": 100,
    "bracketSameLine": true,
    "arrowParens": "always"
}
